@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500; 1.700;1.900&display=swap');
* {
    box-sizing: border-box;
    font-family:  "Roboto", sans-serif;;
}

body {
    margin: 0%;
    
}

/* navbar com h1 pra logo e menu */

.navbar {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background-color:  black;
    justify-content: center;
    align-items: center;

}

.logo {
    flex: 20%;
    margin-left: 10%;
    /* border: 1px solid red; */
    text-align: left;
}

.logo h1{
    color: red;
    font-size: 24px;
    font-family: "Lagosta", sans-serif; 
}

.menu {
    flex: 70%;
    /* border: 1px solid black; */
    text-align: right;
    padding: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover {
    color: #fda15d;
    border-top: 4px solid #048efd;
}

#botao {
    background-color: #fda15d;
    padding: 15px 20px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5px;
}

#botao:hover {
    border: none;
    background-color: #048efd;
    color: #fda15d;
}

/* header */

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.headline{
    margin-left: 10%;
    flex: 40%;
    /* border: 1px solid #180f4a; */
}
.headline h2{
    font-weight: 900;
    font-size: 20px;
    color: white;
    padding: 0%;
    margin: 0%;
}
.headline p{
color: white;
text-align: left;
}
.contact-btn{
    display: inline-block;
    background-color: #fda15d;
    padding:20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    
}
.contact-btn:hover{
    border: none;
    background-color: #048efd;
    color: #fda15d;
}
.img-headline{
    display: inline-block;
    margin-right: 10%;
    flex: 30%;
    /* border: 1px solid #ff2978; */
    text-align: right;  
}
/* section */

section{
    display: inline-block;
    margin-top: 80px;
    border: 1px solid black;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding: 5%;
    width: 90%;

}

section h2{
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: "Anton", sans-serif;
    font-weight: bold;
    color: #fda15d;
}

.servicos{
    display: inline-block;
    margin-top: 5%;

}

.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid red;

}
